{% extends 'ussdke/layout.html' %}
{% block content %}
<div class="section no-pad-bot" id="">
    <div class="container">
      <br>

      <div class="row center">
        <h5 class="header col s12 light">What is this all about?</h5>
          <p class="orange-text">
              Unstructured Supplementary Service Data (USSD) is a protocol used by
            GSM cellular telephones to communicate with the service provider’s computers.
            USSD can be used for WAP browsing, prepaid callback service, mobile-money services,
            location-based content services, menu-based information services, and as part of configuring the phone on the network.

            USSD messages are up to 182 alphanumeric characters in length. Unlike Short Message Service (SMS) messages,
            USSD messages create a real-time connection during a USSD session. The connection remains open,
            allowing a two-way exchange of a sequence of data. This makes USSD more responsive than services that use SMS.

              <br>
            <strong class="red-text"> Warning:</strong> – some of these codes can be harmful (wipe data and etc.) I am not responsible for anything you do to your device.

          </p>
      </div>

      <br>

    </div>
  </div>
{% endblock %}